body {
  background-color: black;
  margin: 5% 5%;
  color: black;
}

a {
  text-decoration: none;
}

.h1Div {
  width: 40vw;
  height: 1vh;
  margin: 1vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  outline-color: black;
  outline-width: 0.5vh;
  outline-offset: -0.5vh;
  outline-style: solid;
  transition: 0.3s ease;

  font-family: "Roboto Mono";
  font-weight: 200;
  font-size: 4vh;
  color: #e6e6e6;
  padding: 5vh;
}

@media (orientation: portrait) {
  .h1Div {
    width: unset;
    outline-color: rgb(20, 20, 20);
  }
}

.h1Div:hover {
  outline-color: #e6e6e6;
  /* font-size: 2.2vh; */
  letter-spacing: 0.05em;
}

.all {
  position: relative;
  top: 30vh;
}
